* {
  box-sizing:border-box;
}

html {
  overflow-x:hidden;
  overflow-y:scroll;
  height:100%;
}

html, body {
  margin:0;
  width:100%;
  min-width:1024px;
}

body {
  background-color: #36373B;
  font-family: Verdana,sans-serif;
  font-size: 11px;
  color: #999;
  letter-spacing: 0.1mm;
  line-height: 20px;
  padding:10px;
  padding-bottom:0px;
  padding-top:0px;
  min-height:100%;
}

p {
  margin:0;
  padding:0;
}

h4 {
  font-size:1.1em;
  margin:0;
}

h3 {
  font-size:1.5em;
  margin:0;
}
header section {
  padding-top:10px;
  display:inline-block;
}
header section:first-child {
  width:calc(100% - 200px)
}
header section:nth-child(2) {
  width:200px;
  position:absolute;
  right:0px;
}
header h3 {
  color:#FFF;
}
header ul {
  list-style:none;
  margin:0px;
}
input {
  border-top: #848383 1px outset;
  border-left: #848383 1px outset;
  border-bottom: #848383 1px inset;
  border-right: #848383 1px inset;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  font-family: Verdana,sans-serif;
  text-decoration: none;
  letter-spacing: 0.1mm;
  vertical-align:middle;
  outline:none;
  padding-left:4px;
  width:100%;
}

input[type="submit"], button {
  border-width: 1px;
  border-style: outset inset inset outset;
  border: 1px solid #848383;
  background-color: #3B3B3B;
  font-size: 1em;
  font-weight: bold;
  color: #cccccc;
  cursor:pointer;
  border-radius:4px;
  cursor:pointer;
  width:initial;
  padding:3px;
}
input[type="submit"]:hover, button:hover {
  color:#FFF;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #000 inset;
  -webkit-text-fill-color: #FFF !important;
}

select {
  background-color: #545454;
  color: white;
  border: none;
  outline:none;
  font-size: 10px !important;
  padding: 2px;
  border-radius: 3px;
  letter-spacing: 0.1mm;
}


textarea {
  resize:none;
  background-color:#000;
  color:#fff;
  outline:none;
  border:1px solid gray;
}
.wrapper {
  position:relative;
  min-height: calc(100vh - 40px);
}

footer {
  height: 30px;
  text-align: center;
  width: 100%;
  line-height:15px;
  vertical-align:middle;
  margin-bottom:5px;
  margin-top:5px;
  font-size:0.9em;
}
header {
  
}

a {
  text-decoration:none;
  color:#ccc;
}
a:hover {
  color:#FFF;
}

button.smallButton, input[type="submit"].smallButton {
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: normal;
}

.loginBox {
  vertical-align:top;
  color:#FFF;
  text-align:right;
}
.loginBox p {
  line-height:15px;
}
.loginBox input {
  width: 120px;
  border-radius: 0px;
}

table.questsTable {
  display:table;
  border-spacing:0px;
  width:100%;
}

table.questsTable th{
  color: #ccc;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #463e3e;
  font-weight: normal;
  white-space: nowrap;
}
table.questsTable th:hover {
  color:#FFF;
  cursor:pointer;
}

table.questsTable tbody tr {
  display:none;
}

table.questsTable td {
  padding:0px;
  padding-left:5px;
  padding-right:5px;
  color: #000;
  text-overflow: ellipsis;
  border-bottom: 1px solid #463e3e;
  border-right: 1px solid #463e3e;
}
table.questsTable td a {
  color:inherit;
}
table.questsTable td a:hover {
  color:#FFF;
}
table.questsTable tr > td:first-child {
  border-left:1px solid #463e3e;
}

table.questsTable tr > td:nth-child(6) {
  padding:0px;
}

.even {
  background-color:#535456;
}
.odd {
  background-color:#656566;
}

main {
  display:inline-block;
  padding-top:50px;
  width:calc(100% - 200px);
  position:relative;
}
nav.rightNav {
  width: 200px;
  display: inline-block;
  position: absolute;
  padding-top: 50px;
  right: 0px;
  text-align: right;
}

nav.postNav {
  color:#FFF;
  font-weight:bold;
  font-size:1.2em;
}

nav.postNav ul {
  list-style:none;
  padding:0px;
  margin:1px;
}
nav.postNav ul > li {
  color:#CCC;
  font-size:0.7em;
  display:inline-block;
  cursor:pointer;
  border:none;
}
nav.postNav ul > li:last-child {
  border-right:none;
  margin-right:none;
  padding-right:none;
}

.icon {
  cursor:pointer;
  margin:4px;
  margin-top:0px;
  margin-bottom:0px;
  vertical-align:middle;
  width: 9px;
  height: 13px;
}
.icon:hover {
  opacity:0.5;
}

.preloaderBG {
  display:none;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0.1;
}

.preloaderFG {
  display:none;
  text-align:center;
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
}

.preloaderFG img {
  height:100px;
  position: fixed;
  top: calc(50% - 50px);
}
.postBubble {
  display:none;
}
.postBubble header {
  height: 20px;
  width: 100%;
  color: #1F1F1F;
  line-height: 20px;
  vertical-align: middle;
  background-image: url(../img/barbg_2.gif);
  background-repeat: repeat-x;
  border: 1px solid #000;
  border-bottom: none;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  font-size:0.9em;
}
.postBubble header a {
  color:initial;
  font-weight:bold;
}
.postBubble header a:hover {
  opacity:0.8;
}
.postBubble header .controls {
  position:absolute;
  right:3px;
  vertical-align:middle;
}

.postBubble content {
  width: 100%;
  border: 1px solid #000;
  word-wrap: break-word;
  border-bottom: none;
  padding: 20px;
  display:inline-block;
  color:#000;
}

.postBubble.endPost content {
  border-bottom:1px solid #000;
}

#character p{
  margin-bottom:30px;
  display:flex;
}

#character label {
  vertical-align:top;
  font-weight:bold;
  display:inline-block;
  width:20%;
  word-break:break-word;
  margin-right:10px;
  min-width:120px;
}
#character label + span {
  width:80%;
  display:inline-block;
}

#character #quests {
  padding:30px;
  padding-top:0px;
}

.edit_post {
  width:400px;
  display:inline-block;
}

.edit_post textarea {
  width:100%;
  min-height:300px;
}