
.overlay {
  background-color:#353535;
  border-radius:15px;
  box-shadow:2px 2px 4px 0px #292829;
  position:fixed;
  top:50%;
  left:50%;
  width:auto;
  height:auto;
  transform: translate(-50%, -50%);
  max-height:80%;
  max-width:80%;
  overflow-y:hidden;
}

.overlay_background {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:0;
  background-color:#CCC;
  opacity:0.2;
}

.overlay header {
  display:block;
  position:relative;
  vertical-align:middle;
  padding:10px;
  padding-top:5px;
  white-space:nowrap;
}
.overlay header h2 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 5px;
  width:calc(100% - 20px);
  margin-right:50px;
}
.overlay header i {
  cursor:pointer;
  display: inline-block;
  position: absolute;
  right: 0px;
  vertical-align: middle;
  margin: 5px;
  width:20px;
}
.overlay header i:hover {
  color:#FFF;
}

.overlay content {
  display:block;
  margin:50px;
  margin-top:10px;
}
.overlay footer {
  font-size:1.5em;
  text-align:right;
  padding-right:10px;
}